body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}
.subnav-fixed-top {
  position:absolute;
  top:100px;
  width: 300px;
  height: 100px;

}

.subnav-fixed-top.ui-scrollfix {
  position: fixed;
  top:0;
  width: 300px;
  height: 100px;
}


.moving-article {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

