<div id="project-selector" class="container">
  <h2>Browse Projects</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <tbody>
        <tr ng-repeat="project in projects" ng-click="viewProject(project.id);">
          <td>
            <h4>{{project.shortname}}</h4>
            <b>client:</b>{{project.client.email}}<br>
            <b>status:</b>{{project.status.status}}<br>
          </td><td>
            <b>address:</b><br>
            {{project.property.street}}<br>{{project.property.city}},{{project.property.state}} {{project.property.zipcode}}<br> 
          </td><td><b>description</b><br>{{project.desc}}
          </td>
          <td align=right>
            <img src="img/generic-house.jpeg" height=150/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
