
<div>
  <div class="table-responsive">
    <table class="table table-hover  table-borded table-striped">
      <thead class="levelOne">
        <tr>
          <th>subitem</th>
          <th>mtl.est</th>
          <th>lbr.est</th>
          <th>mtl.act</th>
          <th>lbr.act</th>
        </tr>
      </thead>
      <tbody data-ng-repeat="si in subItems">
        <tr >
          <td width='60%' class="clickableRow" title="Click to toggle collapse" ng-click="custom=!custom" >{{si.title}}</td>
          <td>{{si.costs.me}}</td>
          <td>{{si.costs.le}}</td>
          <td>{{si.costs.ma}}</td>
          <td>{{si.costs.la}}</td>
          <td>
            <label class="btn btn-xs btn-success">
              e
            </label>
            <label class="btn btn-xs btn-danger">
              d
            </label>
          </td>
        </tr>
        <tr ng-show="custom">
          <td>
            <div>
                <table class="table table-hover table-condensed table-striped">
                  <tbody>
                    <tr> 
                      <td>Description: {{si.desc}}</td>
                    <tr>
                    </tr>
                      <td>Updated At: {{si.updated_at}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
